// Container devices
$container-xl: 1170px;
$container-lg: 1024px;
$container-md: 768px;
$container-sm: 520px;

// Mixins of media query
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions higher than 1170px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == lg {
    // For resolutions between 1024px and 1170px
    @media screen and (max-width: $container-xl) and (min-width: $container-lg) {
      @content;
    }
  } @else if $device == md {
    // For resolutions between 768px and 1024px
    @media screen and (max-width: $container-lg) and (min-width: $container-md) {
      @content;
    }
  } @else if $device == sm {
    // For resolutions lower than 768px
    @media screen and (max-width: $container-md) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions lower than 520px
    @media screen and (max-width: $container-sm) {
      @content;
    }
  }
}

.hide {
  display: none;
}

// CATEGORY SECTION
.categories {
  background-color: $secondary-default;
  overflow: auto;

  &__images {
    max-width: $container-xl;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 24px;
    gap: 16px;
  }
}

// NEW RELEASES SECTION
.news,
.highlights {
  max-width: $container-xl;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 0 auto;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__name {
    margin: 16px 0;
  }

  &__price {
    display: flex;

    .list-price {
      margin-right: 8px;
    }

    .price {
      font-weight: 600;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    background: $primary-default;
    color: $white;
    padding: 8px 16px;
    z-index: 2;
  }

  &:hover {
    .button {
      display: block;
      position: absolute;
      transform: translateY(130px);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 280px;
      background: #795dbfa7;
    }
  }
}

// ANIMAL TYPE SECTION
.types {
  max-width: $container-xl;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

// NEWSLETTER SECTION
.newsletter {
  background-color: $primary-default;

  h4,
  p {
    color: $white;
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offers {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  border-bottom: 2px solid $secondary-default;
  width: 100%;
  text-transform: uppercase;

  @include responsive(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.offer {
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fields {
  display: flex;
  align-items: flex-end;
  gap: 16px;

  @include responsive(sm) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;

    .input-box {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
