// MOBILE
.navbar-mobile {
  display: none;
  max-width: $container-xl;
  margin: 0 auto;
  padding: 16px 24px;

  @include responsive(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include responsive(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-hamburguer {
  width: 36px;
  height: 36px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 800;

  .burguer {
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: $secondary-default;

    transition: 0.7s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $secondary-default;

      transition: 0.7s ease;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }
}

.active-menu-hamburguer {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;
    width: 70%;
    height: 2px;
    background-color: $secondary-default;
    transform: rotate(-135deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;
    width: 70%;
    height: 2px;
    transform: rotate(315deg);
    background-color: $secondary-default;
  }
}

.icons {
  display: flex;

  a {
    padding: 8px;
  }
}

// DESKTOP
.navbar-desktop {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include responsive(md) {
    display: none;
  }

  @include responsive(sm) {
    display: none;
  }
}

.nav-bar {
  max-width: $container-xl;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
}

.menu-desktop-background {
  background-color: $primary-default;
}

.menu-desktop {
  max-width: $container-xl;
  @include typeface-2(p2, desktop);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 6px 16px;

  a {
    color: $white;
  }
}
